body,
h1,
h2,
h3,
h4,
h5,
h6,
ul{
	margin:0px;
	padding:0px;
}

ul{
	list-style-type:none;

}

.bg-orange {
	background-color:orange;
}

.bg-yellow {
	background-color:yellow;
}

.bg-red {
	background-color:red;
}
.bg-skyblue {
	background-color:skyblue;
}
.bg-green {
	background-color:green;
}
.bg-white {
	background-color:white;
}
.text-orange {
	color:orange;
}
.text-green {
	color:green;
}
.text-red {
	color:red;
}
.text-skyblue {
	color:skyblue;
}
.text-grey {
	color:darkgrey;
}
.darkorange {
	background-color: darkorange;
}
.darskyblue {
	background-color:darskyblue;
}
.darkred {
	background-color:darkred;
}
.darkgreen{
	background-color: darkgreen;
}


