.section3 {
	background-color:white;
	margin-top:10px;
	padding:5px;
	.section3-header {
		h3 {
			display:inline-block;
		}
		div{
			float:right;
			color:lightgrey;
			margin-right:10px;
			.fa {
				margin-right:15px;
				margin-top:3px;
			}
		}
	}

	.content {
		margin-top:8px;
	}
	.graph {
		width:60%;
		display:inline-block;
		h5 {
			text-align:center;
		}
		img {
			width:100%;
			padding-top:18px;
		}
	}

	.graph-detail {
		width:35%;
		float:right;
		.goal {
			text-align:center;
		}
		.product-detail {
			margin-top:7px;
			.score {
				display:inline-block;
			}
			.name {
				width:86%;
				display:inline-block;
			}
			.bar {
				width:99%;
				height:10px;
				background-color:grey;
				.color{
					width:80%;
					height:10px;
				}				
			}
		}
		.other-detail {
			margin-top:17px;
		}

	}

	.section3-footer {
		width:100%;
		div{
			display: inline-block;
		    width: 24.5%;
		    text-align: center;
		    padding: 10px 0px 10px 0px;
		    border: 1px solid;
		    border-color:lightgrey;
		    .skyblue {
		    	color:skyblue;
		    }
		    .orange {
		    	color:orange;
		    }
		    .green{
		    	color:green;
		    }
		    .red{
		    	color:red;
		    }
		}
	}

}

@media only screen and (max-width:1326px) and (min-width:768px) {
	.section3-header {
		h3 {
			font-size:15px;
		}
	}
	.graph {
		h5 {
			font-size:13px;
		}
		img {
			padding-top:5px;
			height:163px;
		}
	}
	.graph-detail {
		h5 {
			font-size:13px;
		}
		.product-detail {
			font-size:12px;
		}
	}
	.section-footer {
		div {
			width:23.5%;
			margin-right:5px;
			h4 {
				font-size:13px;
			}
		}

	}

}

@media only screen and (max-width:1023px) and (min-width:768px) {
	.content {
		.graph {
			img {
				height:142px;
			}
		}
		.graph-detail {
			.product-detail {
				.name {
					width:85%;
				}
			}
		}
	}
	.section-footer {
		width:22.5%;
		margin-right:11px;
	}
}	