
.detail-page {
	margin:8px;
    margin-left: 204px;
	position: relative;

}
.section1 {
	overflow:hidden;
	width:100%;
	.dashboard-version{
		float:left;
		padding:5px;
		span {
			color:darkgrey;
			margin-left:10px;
		}
		h3 {
			float:left;
		}
	}

	.home-dashboard {
		float:right;
		margin-right:10px;
		padding:5px;
		font-size:13px;
		.dashboard {
			color:darkgrey;
			margin-left:10px;
		}
		.fa-angle-right {
			color:darkgrey;
			margin-left:10px;
		}
		.home {
			margin-left:5px;
		}
	}
}