.sidebar {
	width:203px;
	background-color:#222d33;
	color:lightgrey;
	font-size:13px;
	float:left;
	.user-detail {
		height:120px;
		padding-top:10px;
		padding-left:5px;
		.user-image {
			width:60px;
			height:60px;
			border-radius:50%;
			background-color:white;
			float:left;
			img {
				height:56px;
				width:56px;
			}
		}

		.user-name {
			color:white;
			float:left;
			margin-left: 20px;
    		margin-top: 14px;
			span {
				width:10px;
				height:10px;
				background-color:green;
				border-radius:50%;
			}
		}

		.searchbox {
			margin-top:77px;
			input[type="search"] {
				background-color:#2d3b43;
				height: 30px;
			    width: 190px;
			    border-radius: 6px;
			}
			div {
				margin-top:-23px;
				color:white;
				span {
					margin-left:5px;
				}
				.fa {
					margin-left:95px;
				}
			}
			
		}
	}

	.main-notification {
		background-color:#1a2225;
		padding-top:7px;
		padding-bottom:7px;
		span {
			margin-left:5px;
			
		}
	}

	.notification {
		padding-top:10px;
		margin-left:10px;
		padding-bottom:70px;

	}

	.notification-list {
		.dashboard {
			background-color:#2d3b43;
			margin-left: -9px;
    		padding-left: 10px;
		}
		span {
			margin-left:6px;
		}
		li {
			padding-bottom:15px;
		}
		.right-icon {
			float:right;
			margin-right:17px;
		}
		.layout {
			padding-top:10px;
			div {
				background-color: skyblue;
			    height: 15px;
			    width: 15px;
			    float: right;
			    margin-right: 10px;
				.fa {
					margin-right: 6px;
    				color: white;
				}
			}
		}
		.widgets {
			background-color:green;
			height:13px;
			width:26px;
			float:right;
			margin-right:10px;
		}
		.calender {
			float:right;
			background-color:red;
			margin-right:10px;
			.fa {
				color:white;
				margin-right: 7px;
    			padding-left: 9px;
    			font-size: 15px;
			}
		}
		.mailbox {
			float:right;
			background-color:yellow;
			margin-right:10px;
			.fa {
				color:white;
				margin-right: 7px;
    			padding-left: 9px;
    			font-size: 15px;
			}

		}
		.labels {
			background-color:#1a2225;
			padding-top:7px;
			padding-bottom:7px;
			margin-left: -9px;
    		padding-left: 10px;
			span {
				margin-left:5px;
				
			}
		}
		.important {
			padding-top:10px;
		}
		.red-color{
			color:red;
		}
		.orange-color {
			color:orange;
		}
		.skyblue-color {
			color:skyblue;
		}
		
	}
}